# ignore everything in the root except the "wp-content" directory.
wp-admin/
wp-includes/
.htaccess
license.txt
wp-*.php
xmlrpc.php
index.php
readme.html
error_log

# ignore everything in the "wp-content" directory, except our plugin
wp-content/*
!wp-content/plugins/
wp-content/plugins/index.php
wp-content/plugins/limit-login-attempts-reloaded